name: Build executables

on:
  push:
    branches:
      - "main"
      - "feature/build_cli_executable"
  workflow_dispatch:

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - Linux
        uses: cloudblcks/pyinstaller-build@master
        with:
          root_path: ./tf_generator/
          dist: ../dist
          main: ./cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: cblx
          use-dependencies: true
          data_paths: |
            ./data/:data
            ./templates/:templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: cblx
          path: dist

  build_osx:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - MacOS
        uses: cloudblcks/pyinstaller-build@master
        with:
          root_path: ./tf_generator/
          dist: ../dist
          main: ./cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: cblx_osx
          use-dependencies: true
          data_paths: |
            ./data/:data
            ./templates/:templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: cblx_osx
          path: dist

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - Windows
        uses: cloudblcks/pyinstaller-build@master
        with:
          root_path: tf_generator
          dist: ..\dist
          main: cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: cblx.exe
          use-dependencies: true
          data_paths: |
            .\data;data
            .\templates;templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: cblx.exe
          path: dist
