name: Build executables

on:
  push:
    branches:
      - "main"
      - "feature/build_cli_executable"
  workflow_dispatch:

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - Linux
        uses: cloudblcks/pyinstaller-build@master
        with:
          main: tf_generator/cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: clbx
          use-dependencies: true
          requirements_path: tf_generator/requirements.txt
          src_path: tf_generator/
          data_paths: |
            ./tf_generator/data/:data
            ./tf_generator/templates/:templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: clbx
          path: dist

  build_osx:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - MacOS
        uses: cloudblcks/pyinstaller-build@master
        with:
          main: tf_generator/cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: clbx_osx
          use-dependencies: true
          requirements_path: tf_generator/requirements.txt
          src_path: tf_generator/
          data_paths: |
            - tf_generator/data/:data
            - tf_generator/templates/:templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: clbx_osx
          path: dist

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Python Executable - Windows
        uses: cloudblcks/pyinstaller-build@master
        with:
          main: tf_generator/cli
          python_version: 3.10.4
          pyinstaller_version: 5.2
          artifact: clbx.exe
          use-dependencies: true
          requirements_path: tf_generator/requirements.txt
          src_path: tf_generator/
          data_paths: |
            - tf_generator/data/:data
            - tf_generator/templates/:templates
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: clbx.exe
          path: dist
